*{
  box-sizing: border-box;
}


body{
  background: darkslategray;

}

/*index page header*/
.header{
  text-align: left;
  color: white;
  text-shadow: 2px 2px gray;
  font-weight: bolder;
  font-size: 22px;
}
hr.border{
  border: 3px solid white;
  border-radius: 5px;
}

/*Index page menu*/

.menu-row:after{
  
  content: "";
  display: table;
  clear: both;
  

}
.menu-column{
  margin-top: 250px;
  float: left;
  width: 33.33%;
  padding: 10px;
  display: grid;
  justify-content: center;
}

.menu-button{
  background-color: dimgray;
  border:none;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
.menu-button:hover {
  box-shadow: 0 0 11px white; 
}



/*Add responsivness*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*Login and register form*/
.form-header{
  text-align: center;
  font-size: larger;
  margin-bottom: 50px;
}
.credentials-Container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 50px 50px 100px 50px;
  background: white;
  border-radius: 10%;

}